// Meta Tag
meta(name='keywords', content=config.SEO.cfg_keywords)
meta(name='description', content=config.SEO.cfg_description)
meta(name='robots', content='noindex, nofollow')
meta(name='apple-itunes-app', content='app-id'+config.SEO.app_appleID)
// SEO MAP
meta(name='DC.title', content=config.SEO.cfg_title)
meta(name='geo.region', content=config.SEO.seo_geo)
meta(name='geo.placename', content=config.SEO.cfg_name)
meta(name='geo.position', content=config.SEO.seo_geo_lng+';'+config.SEO.seo_geo_dlg)
meta(name='ICBM', content=config.SEO.seo_geo_lng+','+config.SEO.seo_geo_dlg)
// SEO
meta(name='author', content=config.SEO.cfg_author)
link(rel='canonical', href='/'+config.SEO.cfg_url+'/')
// Social: Twitter
meta(name='twitter:card', content=config.SEO.cfg_title)
meta(name='twitter:site', content=config.SEO.cfg_url)
meta(name='twitter:creator', content='@author')
meta(name='twitter:title', content=config.SEO.cfg_title)
meta(name='twitter:description', content=config.SEO.cfg_content)
meta(name='twitter:image:src', content='/'+ config.SEO.cfg_url + '/public/img/logo.png')
// Social: Facebook / Open Graph
meta(property='fb:admins', content=config.SEO.app_facebook_adminsID)
meta(property='fb:app_id', content=config.SEO.app_facebook_ID)
meta(property='og:url', content='/'+config.SEO.cfg_url+'/')
meta(property='og:type', content='article')
meta(property='og:title', content=config.SEO.cfg_title)
meta(property='og:image', content='/'+ config.SEO.cfg_url + '/public/img/logo.png')
meta(property='og:description', content=config.SEO.cfg_content)
meta(property='og:site_name', content=config.SEO.cfg_name)
meta(property='article:author', content='//www.facebook.com' + config.SEO.cfg_sitenameurl)
meta(property='article:publisher', content='//www.facebook.com' + config.SEO.cfg_sitenameurl)
// Social: Google / Schema.org
link(rel='author', href='//plus.google.com/'+ config.SEO.cfg_sitenameurl+'/')
link(rel='publisher', href='//plus.google.com/'+ config.SEO.cfg_sitenameurl+'/')
meta(itemprop='name', content=config.SEO.cfg_name)
meta(itemprop='description', content=config.SEO.cfg_content)
meta(itemprop='image', content='/'+ config.SEO.cfg_url + '/public/img/logo.png')
// Meta Tag Search
link(rel='search', type='application/opensearchdescription+xml', title=config.SEO.cfg_name, href='/'+config.SEO.cfg_url+'/SearchEngineInfo.xml')
meta(name='robots', content='index, follow')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-title', content=config.SEO.cfg_content)
link(rel='alternate', hreflang='x-default', href='/'+config.SEO.cfg_url+'/')
link(rel='alternate', hreflang='vi-VN', href='/'+config.SEO.cfg_url+'/')